* {
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    background: none;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon {
    width: 200px;
    float: left;
    height: 70px; 
}
.logo {
    color: black;
    font-size:25px;
    font-family: 'Oleo Script', cursive; 
    font-style: italic;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
.menu {
    width: 400px;
    height: 65px;
    float: left;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    margin-top: 20px;
    margin-left: 45px;
    font-size: small;

}
ul li a{
    color: black;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}
ul li a:hover {
    color: #0F298B;
}